/* Write your global styles here, in PostCSS syntax */

@tailwind base;

body {
	margin: 0;
}


h2 {
	font-family: 'Lato', sans-serif;
}

h3 {
	font-family: 'Roboto Slab', serif;
}


p {
	font-family: 'Jost', sans-serif;
}

@tailwind components;

@tailwind utilities